<%- include('./partials/header') %>
  <%- include('./partials/navbar')%>
    <div class="container-md mt-3">
      <form action="/user/login" method="post">
        <div class="mb-3">
          <label for="usernameOremail" class="form-label">Username of Email</label>
          <input type="text" class="form-control" name="usernameOremail" id="usernameOremail"
            aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <p>
        <%= error %>
      </p>
    </div>
    <%- include('./partials/footer') %>